<br>
<br>
<div class="indent">
  <div class="wrapper">
    <div class="col-1">
      <h3><b>Bienvenido a</b> Automan</h3>
      <p>Esta plataforma fue creada para proporcionarle ayuda en el manejo de su presupuesto, al facilitar la gestión de los mantenimientos de su vehículo, usted recibirá notificaciones periodicas de los eventos pendientes para su pronta revisión.</p>
      <div class="img-box1"><%= image_tag '1page-img.jpg' %>
        <p class="p0">Al realizar los mantenimientos de forma oportuna, la vida útli de su automovil se verá alargada y su inversión estará protegida. Si no tiene conocimiento de cuales son los principales puntos a revisar, no se preocupe, la plataforma genera una lista de revisiones con la estimación de recorrido y tiempo para su oportuna acción.</p>
      </div>
      <p>También puede crear los mantenimientos que considere necesarios, esta plataforma no esta limitada a un solo taller proveedor, usted tiene la libertad de asistir al taller de su elección.</p>
      <p class="p0">Cuanta más información genere en este sistema, más ayuda obtendrá de ella, no olvide mantener actualizado el reccorrido de su vehículo de forma diaria para que las notificaciones sean más exactas, recibirá notificacione en su correo electrónico, si no las encuentra revise su bandeja de spam e informe que conoce al remitiente. Para solicitar información adicional, escríbanos un correo electrónico a la cuenta <a href="mailto:info@autopman.com">info@autopman.com</a></p>
    </div>
    <div class="col-2">
      <div class="box2">
        <div class="border-top">
          <div class="left-top-corner">
            <div class="right-top-corner">
              <div class="inner">
                <h4><b>Noticias</b></h4>
                <ul class="news">
                  <li><a href="#">21 de agosto de 2018</a>
                    <p>Se registran 2000 vehículos en el sistema</p>
                  </li>
                  <li><a href="#">15 de julio de 2018</a>
                    <p>Plataforma liberada al público.</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box3">
        <div class="right-bot-corner">
          <div class="left-bot-corner">
            <div class="inner">
              <h4><b>Login</b> Form</h4>
              <form action="#" id="login-form">
                <fieldset>
                  <div class="field">
                    <label>EMail:</label>
                    <input type="text" />
                  </div>
                  <div class="field">
                    <label>Clave:</label>
                    <input type="password" />
                  </div>
                  <div class="field1">
                    <label class="extra">Recordar:</label>
                    <input type="checkbox" class="extra" />
                    <a href="#"><em><b>Ingresar<span>Ingresar</span></b></em></a></div>
                  <ul>
                    <li><a href="#">¿Olvidé mi contraseña?</a></li>
                    <li class="last"><a href="#">Registrar</a></li>
                  </ul>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>