
<container>
  <row>
    <columns small="12" large="12">
      <h2>Bienvenido a Automan!</h2>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <p>Gracias por registrarse, <%= @user.owner.name %> <%= @user.owner.last_name %>!</p>
      <p>Siguiente paso: <%= link_to "Registrar su auto", new_car_url %> </p>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <p>Esta plataforma fue creada para proporcionarle ayuda en el manejo de su presupuesto, al facilitar la gestión de los mantenimientos de su vehículo, usted recibirá notificaciones periodicas de los eventos pendientes para su pronta revisión.</p>
      <p>Al realizar los mantenimientos de forma oportuna, la vida útli de su automovil se verá alargada y su inversión estará protegida. Si no tiene conocimiento de cuales son los principales puntos a revisar, no se preocupe, la plataforma genera una lista de revisiones con la estimación de recorrido y tiempo para su oportuna acción.</p>
      <p>También puede crear los mantenimientos que considere necesarios, esta plataforma no esta limitada a un solo taller proveedor, usted tiene la libertad de asistir al taller de su elección.</p>
      <p>Cuanta más información genere en este sistema, más ayuda obtendrá de ella, no olvide mantener actualizado el reccorrido de su vehículo de forma diaria para que las notificaciones sean más exactas, recibirá notificacione en su correo electrónico, si no las encuentra revise su bandeja de spam e informe que conoce al remitiente. Para solicitar información adicional, escríbanos un correo electrónico a la cuenta <a href="mailto:info@autopman.com">info@autopman.com</a></p>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <p>Atentamente,</p>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <p>Automan</p>
    </columns>
  </row>
</container>

