<table align="center" class="container header float-center">
  <tbody>
    <tr>
      <td>
        <table class="row">
          <tbody>
            <tr>
              <th class="small-12 large-12 columns first last">
                <table>
                  <tr>
                    <th>
                      <h1 class="text-center">Bienvenido a Automan!</h1>
                      <center data-parsed="">
                        <table align="center" class="menu text-center float-center">
                          <tr>
                            <td>
                              <table>
                                <tr>
                                  <th class="menu-item float-center">
                                    <a href="#">Inicio</a>
                                  </th>
                                  <th class="menu-item float-center">
                                    <a href="#">Ingresar</a>
                                  </th>
                                  <th class="menu-item float-center">
                                    <a href="#">Contáctenos</a>
                                  </th>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </center>
                    </th>
                    <th class="expander">
                    </th>
                  </tr>
                </table>
              </th>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table align="center" class="container body-border float-center">
  <tbody>
    <tr>
      <td>
        <table class="row">
          <tbody>
            <tr>
              <th class="small-12 large-12 columns first last">
                <table>
                  <tr>
                    <th>

                      <table class="spacer">
                        <tbody>
                          <tr>
                            <td height="32px" style="font-size:32px;line-height:32px;">&#xA0;</td>
                          </tr>
                        </tbody>
                      </table> 

                      <h4>Gracias por registrarse, <%= @user.owner.name %> <%= @user.owner.last_name %>!</h4>
                      <p>Esta plataforma fue creada para proporcionarle ayuda en el manejo de su presupuesto, al facilitar la gestión de los mantenimientos de su vehículo, usted recibirá notificaciones periodicas de los eventos pendientes para su pronta revisión.</p>
                      <p>Al realizar los mantenimientos de forma oportuna, la vida útli de su automovil se verá alargada y su inversión estará protegida. Si no tiene conocimiento de cuales son los principales puntos a revisar, no se preocupe, la plataforma genera una lista de revisiones con la estimación de recorrido y tiempo para su oportuna acción.</p>
                      <p>También puede crear los mantenimientos que considere necesarios, esta plataforma no esta limitada a un solo taller proveedor, usted tiene la libertad de asistir al taller de su elección.</p>
                      <p>Cuanta más información genere en este sistema, más ayuda obtendrá de ella, no olvide mantener actualizado el reccorrido de su vehículo de forma diaria para que las notificaciones sean más exactas, recibirá notificacione en su correo electrónico, si no las encuentra revise su bandeja de spam e informe que conoce al remitiente. Para solicitar información adicional, escríbanos un correo electrónico a la cuenta <a href="mailto:info@autopman.com">info@autopman.com</a></p>
                      <p>Atentamente,</p>
                      <p>Automan</p>

                      <center data-parsed="">
                        <table align="center" class="menu float-center">
                          <tr>
                            <td>
                              <table>
                                <tr>
                                  <th class="menu-item float-center">
                                    <a href="#">automan-ec.herokuapp.com</a>
                                  </th>
                                  <th class="menu-item float-center">
                                    <a href="#">Facebook</a>
                                  </th>
                                  <th class="menu-item float-center">
                                    <a href="#">Twitter</a>
                                  </th>
                                  <th class="menu-item float-center">
                                    <a href="#">(408)-555-0123</a>
                                  </th>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </center>

                    </th>
                    <th class="expander">
                    </th>
                  </tr>
                </table>
              </th>
            </tr>
          </tbody>
        </table>

        <table class="spacer">
          <tbody>
            <tr>
              <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
            </tr>
          </tbody>
        </table> 
      </td>
    </tr>
  </tbody>
</table>



