<div class="row column">
  <h1 class="text-headline">Editing User Car Setting</h1>

  <%= render 'form', user_car_setting: @user_car_setting %>

  <%= link_to 'Cancelar', maintenance_history_path(@maintenance_history), class: "hollow button general" %>
</div>
