<div class="row column">
  <h1 class="text-headline">Mantenimiento porgramado de <%= @user_car_setting.maintenance_type %></h1>

  <%= render 'form', user_car_setting: @user_car_setting %>

  <%= link_to 'Cancelar', car_maintenance_history_path(@car_selected, @maintenance_history), class: "hollow button general" %>
</div>
