@import "foundation/scss/style/color";
* {
  text-shadow: -1px 0px 20px rgba(255,255,255,0.4);
}
#error_explanation {
  background: $yellow-200;
  h2 {
    background: $red-300;
    padding: 0 5px;
    color: $white;
    font-weight: bold;
  }
  ul {
    margin-left: 25px;
    padding-bottom: 10px;
    font-size: 14px;
  }
}
.floating-action.button.primary.main{
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.image_attached {
  position: relative;
  .detach {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
.bg-image {
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter:blur(20px);
  -webkit-filter:blur(20px);
  background-position:center;
  background-repeat:repeat-x;
  background-size:cover;
  &:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.3);
  }
}

.mantenimiento {
  position: relative;
  .estado {
    position: absolute;
    display: inline-block;
    font-size: 11px;
    top: -10px;
    background: #fff;
    padding: 2px;
  }
  .acciones {
    a {
      color: $white-87;
    }
  }
  &.success {
    .estado {
      background: $green-50;
      color: $green-900;
      border: 1px solid $green-200;
    }
  }
  &.primary {
    .estado {
      background: $light-blue-50;
      color: $light-blue-900;
      border: 1px solid $light-blue-200;
    }
  }
}

.off-canvas {
  .vertical.menu {
    .vertical.menu {
      li {
        margin: 2px 0;
      }
    }
  }
}