@import "foundation/scss/style/color";
* {
  text-shadow: -1px 0px 20px rgba(255,255,255,0.4);
}
#error_explanation {
  background: $yellow-200;
  h2 {
    background: $red-300;
    padding: 0 5px;
    color: $white;
    font-weight: bold;
  }
  ul {
    margin-left: 25px;
    padding-bottom: 10px;
    font-size: 14px;
  }
}
.floating-action.button.primary.main{
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.image_attached {
  position: relative;
  .detach {
    width: 30px;
    height: 30px;
    padding: 3px;
    margin-right: 0 !important;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
.bg-image {
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter:blur(20px);
  -webkit-filter:blur(20px);
  background-position:center;
  background-repeat:repeat-x;
  background-size:cover;
  &:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.3);
  }
}

.mantenimiento {
  position: relative;
  .estado {
    position: absolute;
    display: inline-block;
    font-size: 11px;
    top: -10px;
    right: 10px;
    background: #fff;
    padding: 2px;
    &.alert {
      background-color: $red-50 !important;
      color: $red-900  !important;
      border: 1px solid $red-200  !important;
    }
    &.warning {
      background-color: $yellow-50 !important;
      color: $yellow-900  !important;
      border: 1px solid $yellow-200  !important;
    }
  }
  .nombre {
    a {
      font-size: 18px;
    }
  }
  .acciones {
    a {
      color: $white-87;
    }
  }
  &.success {
    .estado {
      background: $green-50;
      color: $green-900;
      border: 1px solid $green-200;
    }
  }
  &.primary {
    .estado {
      background: $light-blue-50;
      color: $light-blue-900;
      border: 1px solid $light-blue-200;
    }
  }
}

.off-canvas {
  .vertical.menu {
    .vertical.menu {
      li {
        margin: 2px 0;
      }
    }
  }
}

.auto {
  .thumbnail {
    max-height: 150px;
    overflow: hidden;
    margin: 0 0 5px 0;
  }
  .title {
    a {
      display: inline-block;
      width: 100%;
      margin: 0 !important;
      color: $black-100 !important;
      padding: 0 !important;
      margin-bottom: 15px !important;
      text-align: left;
      font-size: 18px;
    }
  }
  small{
    color: $grey-700;
  }
  .current_km {
    color: $purple-700;
  }
  .week_km {
    color: $orange-700;
  }
  .pending {
    color: $red-700;
  }
  .actions{
    a {
      display: inline-block;
      width: 100%;
      margin: 0 !important;
    }
  }
}

.dashboard {
  a.button {
    // display: block;
    width: 100%;
  }
}

.mantenimiento.callout {
  padding: 5px 10px;
  .flat.button {
    padding: 15px 0px;
    margin: 0;
    display: block;
    text-align: left;
    color: #333;
  }
}
.text-title{
  &.alert {
    color: $red-700;
  }
}
.details {
  p {
    margin-bottom: 5px;
  }
}

/* x-Large and up * share with  all devises form ipad horizontal*/
@media screen and (min-width: 64em) and (max-width: 66em) {

}
/* Desktop and up * share with  all devises form ipad horizontal to up */
@media screen and (min-width: 64em) {
  .off-canvas.position-left {
    width: 315px;
    max-width: 350px;
    .hollow.button {
      text-align: justify;
    }
  }
  .position-left.reveal-for-large ~ .off-canvas-content {
    margin-left: 315px;
  }
}

@import 'responsive/ipad';
@import 'responsive/mobile';