<div class="row column">
  <h1 class="text-headline">Actualizar Km Ackutal</h1>

  <%= render 'form_current_km', car: @car, stay: false %>

  <%= link_to 'Cancelar', :back, class: "hollow button general" %>
</div>
