<h1>Editing Maintenance History</h1>

<%= render 'form', maintenance_history: @maintenance_history %>

<%= link_to 'Show', @maintenance_history %> |
<%= link_to 'Back', maintenance_histories_path %>
