<div class="row column">
  <h1 class="text-headline">Editar manteimineto <%= @maintenance_history.maintenance_type %></h1>
  <%= render 'form', maintenance_history: @maintenance_history %>
  <%= link_to 'Detalles', car_maintenance_history_path(@car_selected, @maintenance_history), class: "hollow button general" %>
  <%= link_to 'Ver todos', car_maintenance_histories_path(@car_selected), class: "hollow button general" %>
</div>
