<div class="row column">
  <h1 class="text-headline">Agendar mantenimiento</h1>
  <%= render 'form', maintenance_history: @maintenance_history %>
  <%= link_to 'Cancelar', car_maintenance_histories_path(@car_selected), class: "hollow button general" %>
</div>
