<div class="row column">
  <% if params[:id] == '0' %>
    <h1 class="text-headline">Agregar reparación</h1>
  <% else %>
    <h1 class="text-headline">Revisión de <%= @maintenance_history.maintenance_type %></h1>
  <% end %>
  <%= render 'form_review', maintenance_history: @maintenance_history %>
  <%= link_to 'Cancelar', :back, class: "hollow button general" %>
</div>
